.reset-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: rgb(82, 81, 79);
  margin-top: 55px;
  border-radius: 9px;
  background-color: white;
  border: 2px solid #dcdcdc;

}

.reset-password-title{
  font-size: 20px;
  margin-bottom: 20px;
  color: #0e0c0c;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
}

.reset-password-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
   padding-right: 165px;
  padding-left: -90px;
}

.reset-password-input {
  width: 68%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 40px;
  border-color: #aaa2a2;
}

.reset-password-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin: 15px;
  width: 68%;
  margin-top: 2px;

}

.reset-password-button:hover {
  background-color: #0056b3;
  color: #fff;
}

label {
  color: rgb(8, 8, 8);

}

@media (max-width: 420px) {}

.Img {
  text-align: center;
  margin-top: 0px;
  height: -100px;
}

#mensagemErro {
  max-width: 400px;
  margin: 0 auto;
  margin-top: -430px;
  margin-left: 759px;
}

#mensagemSucesso {
  max-width: 400px;
  margin: 0 auto;
  margin-top: -430px;
  margin-left: 759px;
}

.CorBarraSistema {
  background-color:#185291
  !important;
  max-width: 100%;
  height:59px ;
}

